{% extends 'base.html' %}
{% load static from staticfiles %}

{#{% block content %}#}
{#{% if request.user.is_authenticated %}#}


    <style type="text/css">
        #search_block_top {
        }
    </style>
    <head>
        <meta charset="UTF-8">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
        <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}"/>
        <link href="{% static 'css/main.css' %}" rel="stylesheet"/>

    </head>

    <body>



    </body>
{##}
{#{% else %}#}
{#    <a href="{% url 'accounts:login' %}">Login</a>#}
{#{% endif %}#}

